.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background: $color-header;
    color: black;
    font-weight: bold;
    height: 40px;
    position: relative;
    font-size: 15px;

    .facility-name {
        justify-content: center;
        line-height: 40px;
        text-transform: uppercase;
    }

    .btn-logout {
        line-height: 40px;
        height: 40px;
        padding: 0 20px;
        margin-left: 23.25px;
        margin-right: 150px;
        background: $color-button-red;

        &:hover {
            background: darken($color-header, 10);
        }

        i {
            font-size: $base-size + 1px;
        }
    }
}